* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  background: #3f4c6b;
  background: -webkit-linear-gradient(0deg, #3f4c6b 0%, #010101 100%);
  background: linear-gradient(0deg, #3f4c6b 0%, #010101 100%);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px 60px;
  color: white;
}